<ul>
  <li app-input-modifier
      *ngFor="let item of elements; let i = index"
      [index]="i">

  </li>
</ul>

<input type="button" class="btn btn-outline-success" value="Add item" (click)="onAddItem()">