
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ photo }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ nom }}</h5>
      <p class="card-text">{{ desc | words: 30}}</p>
      <button (click)="alerteCri(cri)" class="btn btn-primary"> Cri </button>
    </div>
  </div>