<h1>{{ quantite }}</h1>
<button class="btn btn-primary" (click)="incrementer()" >+</button>
<input type="text" size="3" [(ngModel)]="quantite">
<button class="btn btn-primary" [disabled]="quantite == 0" (click)="decrementer()" >-</button>