<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>

      <p>Mis à jour : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils; let i = index"
                      [indexOfAppareil]="i"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status" ></app-appareil>
      </ul>
      <button class="btn btn-success"
              (click)="onAllumer()">Tout allumer</button>
      <button class="btn btn-danger" (click)="OnEteindre()">Tout éteindre</button>
    </div>
  </div>
</div>
