<div class="card" style="width: 18rem;" *ngIf="">
    <img class="card-img-top" src="{{ photo }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ titre }}</h5>
      <p class="card-text">{{ desc }}</p>
    </div>
</div>