<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ titre }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ sousTitre }}</h6>
      <p class="card-text">{{ description }}</p>
      <a [href]="lien" class="btn btn-warning">Détail</a>
    </div>
</div>
