<div class="container">
  <app-panier></app-panier>

  <app-tableau></app-tableau>

  <hr>
  <app-carte 
  titre="Le titre du composant père"
  sousTitre="Blabla ss-titre"
  description="ziufhzeifhiuzehfihzeihfizf"
  lien="https://www.lemonde.fr"></app-carte>

  <app-carte></app-carte>
</div>