<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marque</th>
        <th scope="col">Modele</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr app-ligne *ngFor="let voiture of voitures"
                    [id]="voiture.id"
                    [marque]="voiture.marque"
                    [modele]="voiture.modele">
        </tr>
    </tbody>
</table>