<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr app-ligne [id]="1" [nom]="'Dupont'" [prenom]="'Michel'" [mail]="'toto@gmail.com'"></tr>
      <tr app-ligne [id]="2" [nom]="'Durand'" [prenom]="'Albert'" [mail]="'toto@gmail.com'"></tr>
      <tr app-ligne [id]="id" [nom]="nom" [prenom]="prenom" [mail]="'toto@gmail.com'"></tr>
    </tbody>
  </table>