<div class="container">
  <h1>salut à tous</h1>
  <div class="card-deck">
    <app-animaux *ngFor="let animal of animaux"
                [photo]="animal.photo"
                [nom]="animal.nom"
                [desc]="animal.desc"
                [cri]="animal.cri"> 
    </app-animaux>  
  </div>
</div>