<h4>Exercice n°1</h4>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ titre }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ sousTitre }}</h6>
    <p class="card-text">{{ desc }}</p>
    <a href="#" class="card-link">{{ lien }}</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<input type="text" class="form-control" [(ngModel)]="titre">
<input type="text" class="form-control" [(ngModel)]="sousTitre">
<input type="text" class="form-control" [(ngModel)]="desc">
<input type="text" class="form-control" [(ngModel)]="lien">


