  <div class="row">
    <span id="input-of-item-{{index}}" class="col-2"> {{name}} </span>
    <input type="button" class="btn btn-outline-warning" value="Edit" (click)="onEnableEdit()">
    <input type="text" [(ngModel)]="name" *ngIf="enableEdit" class="col-2" (focusout)="onEndEdit()">
  </div>